@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';

html {
  scroll-behavior: smooth;
  width:100%;
  height: 100%
}

@font-face {
    font-family: 'Formula1';
    src: url('font/Formula1-Regular.eot');
    src: url('font/Formula1-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/Formula1-Regular.woff2') format('woff2'),
        url('font/Formula1-Regular.woff') format('woff'),
        url('font/Formula1-Regular.ttf') format('truetype'),
        url('font/Formula1-Regular.svg#Formula1-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Formula1';
  font-weight: bold;
  src: url("font/Formula1-Bold.otf") format("opentype");
}

a { 
  font-family: Formula1, serif; 
  font-size: 15px;
}

.a-dropdown:hover{
  text-decoration: none;
  color: black;
}

.a-dropdown {color: white;}

body{
  font-family: Formula1;
  font-size: 14px;
}

h1 {
  font-family: Formula1, serif;
  font-size: 30px;
}

.navbar-brand {
  font-family: Formula1,sans-serif;
  text-transform: uppercase
  background-color:#e10600;
  height: 10%;
}

.navbar .nav {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.2rem
  height:10%;
  background-color: #e10600;
}

.navbar-inverse {
  border-bottom: 0px;
  background-color: #e10600;
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  background-color: #e10600;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  background-color: #003300
}

.dropdown-menu {
  background-color: #006B00
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  background-color: #002200
}

.navbar-inverse {
  background-image: none;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  background-image: none;
}

.navbar-inverse {
  border-color: #00FFFFFF
}

.navbar-inverse .navbar-brand {
  color: #FFFFFF
}

.navbar-inverse .navbar-brand:hover {
  color: #FFCC00
}

.navbar-inverse .navbar-nav>li>a {
  color: #FFFFFF
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  color: black
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  color: #FFCC00
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
  color: #FFCC00
}

.dropdown-menu>li>a {
  color: #FFFFFF
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  color: #FFCC00
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
  border-top-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
  border-top-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
  border-bottom-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
  border-bottom-color: #FFFFFF
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#div1{
  margin-top: 8%;
  background-color: #ffffff;
  border-top: solid #e10600;
  border-right: solid #e10600 ;
  border-color: #e10600 ;
  border-width:15px;
  border-top-right-radius: 25px;
  vertical-align: middle;
  text-align: center;
  font-family: Formula1,sans-serif;
  height: 100%;
}

.h1-margin{
 margin: 80px 200px 00px;
}

.h2-margin{
  margin-right: 200px;
  margin-left: 200px;
}

.p-margin{
  margin-right: 200px;
  margin-left: 200px;
}

.img-with-text {
    text-align: center;
    width: 250%;
}
 
.img-with-text img {
    display: block;
    margin-right: 10%;
    margin-left: 20%;
}

.column {
  float: left;
  width: 50%;
}

.column-autores {
  float: left;
  width: 33%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
  height: 100%;
}

.imgepoca{
  width: 45%;
  ~margin-left: 5%;
  margin-right:3%;
  margin-bottom: 5%;
  height: 309.7px;
  border-radius: 25px;
}

.img1{
  border-radius: 25px;
}

.tag{
  background-color: white;
  height: 100px;
  z-index: 1;
  position: absolute;
  margin-top: -100px;
  text-align: center;
  border-top:solid black;
  border-bottom-right-radius: 25px
  max-width:100%;
}

.tag:hover{
  background-color: white;
  height: 100px;
  z-index: 1;
  position: absolute;
  margin-top: -100px;
  text-align: center;
  border-bottom:  solid #e10600;
  border-left: solid #e10600;
  border-bottom-left-radius: 25px;
}

.flip-card {
  background-color: transparent;
  width: 380px;
  height: 350px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 380px;
  height: 350px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 380px;
  height: 350px;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: white;
  transform: rotateY(180deg);
  color: black;
  height:350px; 
  border-bottom: solid #e10600;
  border-right: solid #e10600;
  border-bottom-right-radius: 25px;
}

html, body{
  overflow-x: hidden;
}

#footer {
  position: bottom;
  background-color: black;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
  width: 100%;
  height: 130px;
}

.btn {
  text-align: center;
  border: none;
  background-color: #bdbebd;
  padding: 10px 25px;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
}
/* On mouse-over */
.btn:hover {background: #545454;}
.default {color: black;}
.btn:focus {outline: none;}
.center {text-align: center;}

.dropdown {
  color: white;
  margin-top: 14px;
  font-size: 15px;
  position: relative;
  display: inline-block;
  /*font-family: Formula1, serif;*/
}

.dropdown-content {
  margin-left: -9px;
  color: white;
  margin-top: 0px;
  display: none;
  position: absolute;
  background-color: #e10600;
}

.dropdown-content a {
  color: white;
  margin-top: 7px;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #e10600;
  color:black;
}
.dropdown:hover .dropdown-content {display: block;}

.bordas{
  border-bottom: solid #e10600;
  border-right: solid #e10600 ;
  border-color: #e10600;
  border-width:2px;
  border-bottom-right-radius: 25px;
  margin-bottom: 10px;
}
.collumn{
  display: block;
  color: white;
  width: 100px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  margin-bottom: 1%;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}